.station-list-container {
  padding: var(--spacing-md);
  height: 100%;
  width: 100%;
}

.station-list-container h2 {
  color: var(--primary-dark);
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.stations-grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.station-list {
  padding: var(--spacing-md);
  height: 100%;
  width: 100%;
  overflow-y: auto; /* SCROLL TOÀN BỘ COMPONENT */
  scrollbar-width: none;
}
.no-stations {
  text-align: center;
  padding: 60px 20px;
  color: var(--text-secondary);
}

.no-stations .subtext {
  font-size: 0.9rem;
  margin-top: 8px;
  opacity: 0.7;
}

.station-count {
  color: var(--text-secondary);
  font-size: 0.9rem;
}