@keyframes slide-down-scale {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-slide-down-scale {
    animation: slide-down-scale 0.45s ease-out forwards;
  }
}
@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(0) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(-10px) scale(1);
  }
}

@layer utilities {
  .animate-drop {
    animation: drop 0.3s ease-out forwards;
  }
}
