spring:
  datasource:
    url: jdbc:mysql://localhost:3306/package_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # tự tạo bảng nếu chưa có (dành cho dev)
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: package-service

server:
  port: 8081
  
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}